In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

In [10]:
pd.pivot_table(df, index=['A', 'B'], aggfunc={'D':np.sum})

          D
A   B
bar one   9
    two  13
foo one   5
    two   6

In [13]:
pd.pivot_table(df, index=['A', 'B'], columns=['C'], aggfunc={'D':np.sum})

            D
C       large small
A   B
bar one   4.0   5.0
    two   7.0   6.0
foo one   4.0   1.0
    two   NaN   6.0

In [11]:
pd.pivot_table(df, index=['A', 'B'], columns=['C'], values='D', aggfunc={'D':np.sum})

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

In [24]:
pd.pivot_table(df, columns=['C'], values='D', aggfunc={'D':[np.min, np.max, np.sum, np.mean]})

C     large  small
amax   7.00    6.0
amin   2.00    1.0
mean   3.75    3.6
sum   15.00   18.0

In [23]:
pd.pivot_table(df, columns=['C'], values='D', aggfunc=[np.min, np.max, np.sum, np.mean])

   amin        amax         sum        mean
C large small large small large small large small
D     2     1     7     6    15    18  3.75   3.6

In [25]:
pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'], aggfunc={'D': np.mean, 'E': [min, max, np.mean]})

                  D    E
               mean  max      mean  min
A   C
bar large  5.500000  9.0  7.500000  6.0
    small  5.500000  9.0  8.500000  8.0
foo large  2.000000  5.0  4.500000  4.0
    small  2.333333  6.0  4.333333  2.0